@{ ViewData["Title"] = "Daniel H. Friedman"; }

<div class="splash" id="daniel"></div>

<div class="attorney-banner fixedsticky">
    <div class="attorney-name">@ViewData["Title"]</div>
    <div class="attorney-title">Partner</div>
</div>

<div class="center">
    <div class="blockquote">
        <div class="fa fa-quote-left"></div>
        <div><em><strong>"Be sure you put your feet in the right place. Then stand firm."</strong><br>-Abraham Lincoln</em></div>
    </div>

    <div class="row row-cards">
        <div class="col-xl-6 card">
            <div class="card-title">Dan's Focus</div>
            <div class="card-body">
                <ul class="fa-ul">
                    <li><span class="fa fa-li fa-crosshairs"></span>Litigating title and <a title="Real Estate &amp; Property Law"
                        asp-controller="PracticeAreas" asp-action="RealEstate">real estate</a> matters.</li>
                    <li><span class="fa fa-li fa-crosshairs"></span>Complex <a title="Civil Litigation &amp; Appeals" asp-controller="PracticeAreas"
                        asp-action="Civil">litigation</a>.</li>
                </ul>
            </div>
        </div>
        <div class="col-xl-6 card">
            <div class="card-title">Professional Experience</div>
            <div class="card-body">
                <ul class="fa-ul">
                    <li><span class="fa fa-li fa-check"></span>Founder, Simons, Cuddy &amp; Friedman</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            Dan specializes in finding solutions to complex cases. Dan has extensive experience in employment law, civil rights litigation,
            civil appeals, utilities law, education law, and banking. He was a founding partner of the firm Simons, Cuddy
            &amp; Friedman, LLP and has been practicing law for more than 40 years. Dan is a founding member of The Simons
            Firm LLP. Dan represented the State of New Mexico in the United States Supreme Court in a tax case and secured
            a recovery of $277,000,000. United States v. New Mexico, 455 U.S. 720 (1982). He is a talented actor and active
            in New Mexico’s arts community.
        </div>
    </div>
    
    <div class="row row-pad-top">
        <div class="col-xs-12">
            <div><strong>Published Opinions &amp; Publications</strong></div>
            <ul class="ul-fa">
                <li><span class="fa fa-li fa-book"></span>“Free Legal Services in Delhi and Bombay,” Legal Aid and World Poverty,
                    Praeger, New York, 1974.</li>
                <li><span class="fa fa-li fa-book"></span>“The State Tax Liability of Federal Contractors,” Revenue Administration,
                    National Association of Tax Administrators, Washington, D.C., 1977.</li>
                <li><span class="fa fa-li fa-book"></span>United States v. New Mexico, 455 U.S. 720 (1982).</li>
            </ul>
        </div>
    </div>
</div>