@{ ViewData["Title"] = "Elege Simons Harwood"; }

<div class="splash" id="elege"></div>

<div class="attorney-banner fixedsticky">
  <div class="attorney-name">@ViewData["Title"]</div>
  <div class="attorney-title">Partner</div>
</div>

<div class="center">
  <div class="row row-cards">
    <div class="col-xl-6 card">
      <div class="card-title">Elege's Focus</div>
      <div class="card-body">
        <ul class="fa-ul">
          <li>
            <span class="fa fa-li fa-crosshairs"></span> Mediation
          </li>
          <li>
            <span class="fa fa-li fa-crosshairs"></span> Settlement Facilitation
          </li>
          <li>
            <span class="fa fa-li fa-crosshairs"></span> Representing individuals in all areas of family law, including divorce, collaborative divorce custody,
            child support, paternity, alimony, prenuptial and postnuptial agreements, grandparent visitation, and kinship guardianship
          </li>
          <li>
            <span class="fa fa-li fa-crosshairs"></span> Guardian <em>ad Litem</em> for children and adults
          </li>
        </ul>
      </div>
    </div>
    <div class="col-xl-6 card">
      <div class="card-title">Professional Activities &Aacute; Awards</div>
      <div class="card-body">
        <ul class="fa-ul">
          <li>
            <span class="fa fa-li fa-check"></span> State Bar of New Mexico
          </li>
          <li>
            <span class="fa fa-li fa-check"></span> First Judicial District Bar
          </li>
          <li>
            <span class="fa fa-li fa-check"></span> American Bar Association (Ex-Chari, Family Law Section, Ex-Member, Family Law Institute Committee)
          </li>
          <li>
            <span class="fa fa-li fa-check"></span> West Group Award for Excellence in Domestic Relations
          </li>
          <li>
            <span class="fa fa-li fa-check"></span> Clinical Honors Award
          </li>
          <li>
            <span class="fa fa-li fa-check"></span> Sante Fe School for the Arts and Sciences, Vice-Chair Board of Directors
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <p>
        Elege enjoys practicing all aspects of family law, and firmly believes that domestic relations issues can and should be resolved with dignity.
      </p>
      <p>
        After growing up in Santa Fe, Elege attended college at NYU.  She returned to New Mexico to attend law school at UNM from which she earned her J.D. in 2004.
      </p>
      <p>
        Prior to joining the Simons Firm, Elege served as a law clerk to Judge Carol Vigil of the First Judicial District Court in Santa Fe.  Elege was an Adjunct
        Professor at University of New Mexico School of Law teaching Children’s Health Law Policy and Ethics.  She was a contract attorney for the New Mexico Court
        of Appeals representing parents in termination of parental rights appeals.
      </p>
      <p>
        When not working, Elege is busy raising 3 boys with her husband Kyle.
      </p>
    </div>
  </div>

</div>