@{ ViewData["Title"] = "Quinn Scott Simons"; }

<div class="splash" id="quinn"></div>

<div class="attorney-banner fixedsticky">
    <div class="attorney-name">@ViewData["Title"]</div>
    <div class="attorney-title">Partner</div>
</div>

<div class="center">
    <div class="row row-cards">
        <div class="col-xl-6 card">
            <div class="card-title">Quinn's Focus</div>
            <div class="card-body">
                <ul class="fa-ul">
                    <li><span class="fa fa-li fa-crosshairs"></span>Construction, <a title="Real Estate &amp; Property Law" asp-controller="PracticeAreas"
                        asp-action="RealEstate">real estate law</a>, and litigation</li>
                    <li><span class="fa fa-li fa-crosshairs"></span>General <a title="Business &amp; Commercial Law" asp-controller="PracticeAreas"
                        asp-action="Business">business law</a> and litigation</li>
                    <li><span class="fa fa-li fa-crosshairs"></span>Insurance defense</li>
                    <li><span class="fa fa-li fa-crosshairs"></span>Title insurance defense</li>
                    <li><span class="fa fa-li fa-crosshairs"></span>Equine law and litigation</li>
                </ul>
            </div>
        </div>
        <div class="col-xl-6 card">
            <div class="card-title">Professional Activities &amp; Affiliations</div>
            <div class="card-body">
                <ul class="fa-ul">
                    <li><span class="fa fa-li fa-check"></span>Judge Oliver Seth Inn of Court</li>
                    <li><span class="fa fa-li fa-check"></span>NM Defense Lawyers Association</li>
                    <li><span class="fa fa-li fa-check"></span>Member of the State Bar of New Mexico</li>
                    <li><span class="fa fa-li fa-check"></span>Member of the ABA</li>
                    <li><span class="fa fa-li fa-check"></span>Member of the Federal Bar Association</li>
                    <li><span class="fa fa-li fa-check"></span>Licensed to practice in both state and federal courts</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <p>Quinn was born and raised in Santa Fe and is a fourth generation New Mexican. After attending undergraduate school
                at Colorado College (B.A. 1997), Quinn, an avid mountain climber, attempted an unclimbed route on a remote,
                25,245’ peak in the Tibetan Himalayas. Due to an unexpected storm and highly technical climbing conditions
                at high altitude, Quinn suffered severe frostbite, costing him his fingers and feet. Undaunted by the challenges
                and adversity that ensued, Quinn started and ran a successful construction company in Santa Fe for several
                years, before moving to Kentucky to train horses.</p>

            <p>After years in the horse business, Quinn reunited with his high school girlfriend, Veree, and chose to settle
                down and raise his family in Santa Fe. Quinn attended the University of New Mexico School of Law (J.D. 2013),
                and now maintains a successful law practice focused on construction and real estate law and litigation, general
                business law and litigation, insurance law and DUI/DWI Defense. He is licensed to practice in both New Mexico
                State and Federal courts with an emphasis on trial practice.</p>

            <p>Quinn still spends his free time with Veree and their three children, riding horses and enjoying the mountains.</p>
        </div>
    </div>
</div>