@{
    ViewData["Title"] = "Contact";
}

<div class="splash" id="contact">
    <div class="splash-content">@ViewData["Title"]</div>
</div>

<div class="center">
    <div class="row row-flex">
        <div class="col-md-12 col-lg-4">
            <div class="table-responsive">
                <table class="table table-striped text-center">
                    <thead>
                        <tr>
                            <td colspan="2">Contact Information</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Physical Address</td>
                            <td>
                            1660A Old Pecos Trail<br>
                            Santa Fe, NM 87505
                            </td>
                        </tr>
                        <tr>
                            <td>Mailing</td>
                            <td>
                            PO Box 5333<br>
                            Santa Fe, NM 87502-5333
                            </td>
                        </tr>
                        <tr>
                            <td>Telephone</td>
                            <td>505 988 5600</td>
                        </tr>
                        <tr>
                            <td>Fax</td>
                            <td>505 982 0185</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-12 col-lg-8 google-maps" ng-app="google-maps"></div>
    </div>
    <div class="row row-pad-top">
        <div class="col-xs-12">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <td colspan="2">Directions From:</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>St Vincent Regional Medical Center<br>Or St. Michael’s Drive</td>
                            <td>
                                <ol>
                                    <li>Head southeast on St. Michael’s Drive (left onto St Michael’s Drive from Hospital Drive).</li>
                                    <li>Turn left onto Arroyo Chamiso.</li>
                                    <li>Turn left (just past the fire station) onto Calle Medico.</li>
                                    <li>Come around the “horse shoe” curve on Calle Medico.</li>
                                    <li>Our driveway is on the right, just past a street called Medico Lane (and across the street from Cuddy &amp; McCarthy, which has a big green sign).</li>
                                </ol>
                            </td>
                        </tr>
                        <tr>
                            <td>Downtown</td>
                            <td>
                                <ol>
                                    <li>Take Old Santa Fe Trail out of town, it will become Old Pecos Trail.</li>
                                    <li>Take Old Pecos Trail past San Mateo and past the Women’s Club (on the right).</li>
                                    <li>Just past the Women’s Club, use the short right turn lane to turn right onto Calle Medico.</li>
                                    <li>Our driveway is the second one the left.</li>
                                </ol>
                            </td>
                        </tr>
                        <tr>
                            <td>Interstate 25</td>
                            <td>
                                <ol>
                                    <li>(Coming from the South) Old Pecos Trail exit.</li>
                                    <li>Turn LEFT at the end of the exit (onto Old Pecos Trail).</li>
                                    <li>On Old Pecos Trail, move into the right lane at, or before, Zia Road.</li>
                                    <li>Old Pecos Trail will veer off to the right after Zia Road.</li>
                                    <li>Take the first LEFT onto Calle Medico.</li>
                                    <li>Our driveway is the second one on the left. (Street sign says: 1660A The Simons Firm, LLP)</li>
                                </ol>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBaxC0NjKvc1oRV8DQ_TAaGKwGWUWEYc9w"></script>
    <script>
        (function (angular, google) {
            angular.module('google-maps', [])
                .directive('googleMaps', ['$http', function (http) {
                    return {
                        restrict: 'C',
                        link: function (scope, element, attr) {
                            http.get('/data/map.json').then(function (d) {
                                var data = d.data;                         
                                var myLatLng = data.options.center;
                                
                                var map = new google.maps.Map(element[0], data.options);
                                
                                var marker = new google.maps.Marker({
                                    position: myLatLng,
                                    map: map,
                                    title: 'The Simons Firm'
                                });
                                
                                map.set('styles', data.close);
                                map.addListener('zoom_changed', function() {
                                    if (map.getZoom() < 12) {
                                        map.set('styles', data.far);
                                    } else {
                                        map.set('styles', data.close);
                                    }
                                });
                            });
                        }
                    }
                }]);
        })(angular, google);
    </script>
}