@{ ViewData["Title"] = "Home Page"; }

<div class="splash splash-home">
    <div class="splash-content">
        <h1>Nationally Recognized <span class="text-light">– New Mexico Roots</span></h1>
        <div class="text-light">Our skilled attorneys provide sophisticated and effective representation for national and local clients.</div>
    </div>
</div>

<div class="center">
  <div class="row">
    <div class="col-md-6 col-lg-2 col-lg-offset-1">
      <a class="content-block text-center" asp-controller="Attorneys" asp-action="Thomas">
        <img src="/images/tom.png" alt="Thomas A. Simons, IV" />
        <span class="title">Thomas A. Simons, IV</span>
      </a>
    </div>
    <div class="col-md-6 col-lg-2">
      <a class="content-block text-center" asp-controller="Attorneys" asp-action="Daniel">
        <img src="/images/dan.png" alt="Daniel H. Friedman" />
        <span class="title">Daniel H. Friedman</span>
      </a>
    </div>
    <div class="col-md-6 col-lg-2">
      <a class="content-block text-center" asp-controller="Attorneys" asp-action="Frieda">
        <img src="/images/frieda.png" alt="Frieda Simons Burnes" />
        <span class="title">Frieda Simons Burnes</span>
      </a>
    </div>
    <div class="col-md-6 col-lg-2">
      <a class="content-block text-center" asp-controller="Attorneys" asp-action="Quinn">
        <img src="/images/quinn.png" alt="Quinn Scott Simons" />
        <span class="title">Quinn Scott Simons</span>
      </a>
    </div>
    <div class="col-md-6 col-lg-2">
      <a class="content-block text-center" asp-controller="Attorneys" asp-action="Elege">
        <img src="/images/elege.png" alt="Elege Simons Harwood" />
        <span class="title">Elege Simons Harwood</span>
      </a>
    </div>
  </div>
</div>