@{ ViewData["Title"] = "Staff"; }


<div class="splash-beg"></div>
<div class="splash-title fixedsticky">@ViewData["Title"]</div>
<div class="splash-end"></div>

<section class="staff-member">
    <div class="center">
        <div class="col-lg-4">
            <div class="content-block">
                <div class="text-center"><img src="/images/cathy.png" alt="Cathy Alire" /></div>
                <div class="title text-center hidden-md-down">Cathy Alire</div>
            </div>
        </div>
        <div class="col-lg-8">
            <h2 class="text-uppercase text-light">Cathy Alire, Office Manager &amp; Bookkeeper</h2>
            <p>
                Cathy is a Santa Fe native, having been born and raised here. She has spent decades in all aspects of law firm operations and management, beginning with the position of legal secretary. She was the foundational staff member of The Simons Firm at the time of its creation in January 2001, having previously worked at Simons, Cuddy & Friedman. Since 2007, Cathy has been the Simons Firm’s office manager and bookkeeper, handling all aspects of the firm’s operations.  Outside of work, Cathy enjoys spending time with her family.
            </p>
            <p>
                Cathy is a consummate expert in all areas of the firm’s practice, organization and function. Do not hesitate to contact her at: <a href="mailto:calire@simonsfirm.com">calire@simonsfirm.com</a> or direct dial at: (505) 992-9501.
            </p>
        </div>
    </div>
</section>

<section class="staff-member">
    <div class="center">
        <div class="col-lg-4">
            <div class="content-block">
                <div class="text-center"><img src="/images/georgianna.png" alt="Georgianna Gonzales" /></div>
                <div class="title text-center hidden-md-down">Georgianna Gonzales</div>
            </div>
        </div>
        <div class="col-lg-8">
            <h2 class="text-uppercase text-light">Georgianna Gonzales, Legal Secretary</h2>
            <p>Georgianna was born and raised in Santa Fe, New Mexico. After graduating from New Mexico State University in
                Las Cruces with an Associate’s Degree in Secretarial Administration, Georgianna returned to Santa Fe and
                began her first law firm position. Georgianna has now worked in the legal field for over thirty-five years,
                and with Tom Simons for twenty-eight of those years. Georgianna started with Tom at Simons Cuddy & Friedman
                in 1987, and later moved to The Simons Firm, LLP. Georgianna currently works as a legal secretary, receptionist
                and assistant bookkeeper and has taken courses in paralegal studies and accounting.</p>
            <p>Outside of work, Georgianna loves spending her free time walking her two dogs (Sasha and Yoda), attending Jazzercise
                classes and camping. Georgianna and her husband, Ron Gonzales, are also active and leading members of their
                church, Blaze Christian Fellowship.</p>
            <p>Georgianna is the proud mother of Matthew Padilla, a recent graduate of the United States Naval Academy in Annapolis, 
                Maryland and currently serving in the Navy Nuclear Program and Rosaleigh Gonzales, a student of paralegal studies at 
                the Santa Fe Community College and employed at another local law firm.</p>
            <p>Please do not hesitate to contact Georgianna at: <a href="mailto:ggonzales@simonsfirm.com">ggonzales@simonsfirm.com</a>                or direct dial at: (505) 992-9504. Thank you.</p>
        </div>
    </div>
</section>

<section class="staff-member">
    <div class="center">
        <div class="col-lg-4">
            <div class="content-block">
                <div class="text-center"><img src="/images/luis.png" alt="Luis Lopez" /></div>
                <div class="title text-center hidden-md-down">Luis Lopez</div>
            </div>
        </div>
        <div class="col-lg-8">
            <h2 class="text-uppercase text-light">Luis Lopez, III, Paralegal</h2>
            <p>Luis started with The Simons Firm in 2005 as a runner/file clerk, and quickly learned additional skills that
                enabled him to become the Firm’s receptionist while beginning paralegal duties and studies. Luis is now a
                litigation paralegal, responsible for all aspects of the litigation process. His experience includes management
                of cases of varying complexities throughout New Mexico, working with in and out of state counsel and clients,
                managing matters and cases, preparing cases for trial, and assisting at trial. He has experience working
                with various types of trial presentation software and techniques.</p>
            <p>Luis is proud to be a fourth-generation New Mexican who was born in Los Alamos and raised in Santa Fe. When he
                is not at work, Luis can be found traveling, camping, fishing, spoiling his beloved nieces, and spending
                time with family in south Texas (Go Spurs Go).</p>
            <p>Please do not hesitate to contact Luis at: <a href="mailto:llopez@simonsfirm.com">llopez@simonsfirm.com</a> or
                direct dial at: (505) 992-9502. Thank you.</p>
        </div>
    </div>
</section>

<section class="staff-member">
    <div class="center">
        <div class="col-lg-4">
            <div class="content-block">
                <div class="text-center"><img src="/images/team-placeholder.jpg" alt="Audra M. Burdwell" /></div>
                <div class="title text-center hidden-md-down">Audra M. Burdwell</div>
            </div>
        </div>
        <div class="col-lg-8">
            <h2 class="text-uppercase text-light">Audra M. Burdwell, Paralegal</h2>
            <p>
                Audra is a Santa Fe native who joined The Simons Firm, LLP as a Paralegal in early 2017 in the area of civil litigation.
                After receiving her Paralegal Certificate in 1998 from the University of New Mexico, 
                Audra began her legal career with the First Judicial District Court in Santa Fe and has since had the privilege of working as a Paralegal for several local well-respected law firms.
                With nearly two decades of working in the legal field, Audra has gained significant experience in the management of complex cases, 
                document examination, drafting of legal documents, fact development, deposition preparation and trial preparation.      
            </p>
            <p>
                Audra has seven children, two step-daughters, and is the grandmother of three.
                In her spare time, Audra enjoys hiking, camping and spending time with her family and friends.
                Audra and her husband, Preston Burdwell, are active members in their local church and community.  
            </p>
            <p>Please do not hesitate to contact Audra at: <a href="mailto:aburdwell@simonsfirm.com">aburdwell@simonsfirm.com</a> or direct dial at: (505) 992-9505. Thank you.</p>
        </div>
    </div>
</section>