<footer>
    <div class="center">
        <div class="row">
            <div class="col-md-9">
                <p><strong>Simons Firm LLP Copyright © 2015</strong> - Attorney advertisement. No legal advice has been offered by this website, and no attorney-client relationship has been formed with the users of this website. The Simons Firm, LLP does not accept any confidential information from any potential clients without a telephone consultation. See <a asp-controller="Home" asp-action="Disclaimer">full disclaimer</a>.</p>
                <p>Address: 1660A Old Pecos Trail, Santa Fe NM 87505 - Tel: 505 988 5600 - Fax: 505 982 0185</p>
                <p>Home page splash by <a href="http://willyborichardson.com/" target="_blank">Willy Bo Richardson</a></p>
            </div>
            <div class="col-md-3 text-center">
                Login to ShareFile<br>
                <a href="http://simonsfirm.sharefile.com" class="sharefile-logo btn btn-secondary" target="_blank"><img src="/images/sharefile-logo.png" alt="Login to ShareFile"></a>
            </div>
        </div>
    </div>
</footer>