<nav class="navbar navbar-fixed-top">
    <div class="center nav-container">
        <a class="navbar-brand" asp-controller="Home" asp-action="Index">
            <div class="right-border pull-left">
                <span class="logo-small">THE</span>
                <span class="logo-cap">S</span>IMONS
                <span class="logo-cap">F</span>IRM
                <small>Nationally Recognized – New Mexico Roots</small>
            </div>
            <div class="pull-left">
                <span class="logo-small">LLP</span>
            </div>
        </a>
        <button class="navbar-toggler hidden-lg-up pull-right" type="button" data-toggle="collapse" data-target="#nav-collapse">&#9776;</button>
        <div class="collapse navbar-toggleable-md pull-right" id="nav-collapse">
            <ul class="nav navbar-nav">
                <li class="nav-item">
                    <div class="dropdown">
                        <a id="attorneysLabel" class="nav-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" asp-controller="Attorneys"
                        asp-action="Index">Attorneys <span class="fa fa-chevron-down"></span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="attorneysLabel">
                          <a class="dropdown-item" asp-controller="Attorneys" asp-action="Thomas">Thomas A. Simons, IV</a>
                          <a class="dropdown-item" asp-controller="Attorneys" asp-action="Daniel">Daniel H. Friedman</a>
                          <a class="dropdown-item" asp-controller="Attorneys" asp-action="Frieda">Frieda Simons Burnes</a>
                          <a class="dropdown-item" asp-controller="Attorneys" asp-action="Quinn">Quinn Scott Simons</a>
                          <a class="dropdown-item" asp-controller="Attorneys" asp-action="Elege">Elege Simons Harwood</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <div class="dropdown">
                        <a id="practiceAreasLabel" class="nav-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" asp-controller="PracticeAreas"
                        asp-action="Index">Practice Areas <span class="fa fa-chevron-down"></span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="practiceAreasLabel">
                          <a class="dropdown-item" asp-controller="PracticeAreas" asp-action="Civil">Civil Litigation &amp; Appeals</a>
                          <a class="dropdown-item" asp-controller="PracticeAreas" asp-action="TitleInsurance">Title Insurance Defense</a>
                          <a class="dropdown-item" asp-controller="PracticeAreas" asp-action="Insurance">Insurance Defense</a>
                          <a class="dropdown-item" asp-controller="PracticeAreas" asp-action="RealEstate">Real Estate &amp; Probate Litigation</a>
                          <a class="dropdown-item" asp-controller="PracticeAreas" asp-action="Business">Real Estate &amp; Business Law</a>
                          <a class="dropdown-item" asp-controller="PracticeAreas" asp-action="Construction">Construction Law</a>
                          <a class="dropdown-item" asp-controller="PracticeAreas" asp-action="Family">Family Law</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="Staff">Staff</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link" data-toggle="modal" data-target="#NewsModal">News &amp; Events</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="Contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>