<!-- News modal -->
<div class="modal fade" id="NewsModal" tabindex="-1" role="dialog" aria-labelledby="NewsModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="NewsModalLabel">
          News &amp; Events
          <span class="pull-right" data-dismiss="modal" aria-label="Close" aria-hidden="true">&times;</span>
        </h4>
      </div>
      <div class="modal-body">
        <div class="story">
          <div class="story-header">
            <h2 class="pull-left text-light">Announcement</h2>
            <span class="pull-right text-light">September 10<sup>th</sup>, 2019</span>
          </div>
          <div class="story-content">
            <p>
              The Simons Firm is pleased to announce that Tom Simons has been recognized as a 2020 "Lawyer of the Year" in the practice area of Personal Injury Litigation
              Defendants by Best Lawyers. Mr. Simons is also recognized in The Best Lawyers in America for his work in Insurance Law, Personal Injury Litigation Defendants,
              and Real Estate Law.
            </p>
          </div>
        </div>
        <div class="story">
          <div class="story-header">
            <h2 class="pull-left text-light">Congratulations</h2>
            <span class="pull-right text-light">September 10<sup>th</sup>, 2019</span>
          </div>
          <div class="story-content">
            <p>The Simons Firm congratulates Quinn Simons for his election to serve as Chair of the Trails Committee with the Santa Fe Conservation Trust Board of Directors. </p>
          </div>
        </div>
        <div class="story">
          <div class="story-header">
            <h2 class="pull-left text-light">Congratulations</h2>
            <span class="pull-right text-light">September 10<sup>th</sup>, 2019</span>
          </div>
          <div class="story-content">
            <p>The Simons Firm congratulates Frieda Burnes for her election to serve as Secretary for the Museum of New Mexico Foundation Board of Trustees. </p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" aria-label="Close">Close</button>
      </div>
    </div>
  </div>
</div>