@tailwind base;

@tailwind components;

@tailwind utilities;

.isTransparent {
  background-color: transparent;
@apply text-white;
}

.isOpaque {
  @apply bg-white text-black;
  }


  .bannerIsOpen {
    transition-duration: 0.5s;
    transition-delay: 0s;
    transform: translateY(0%);
  }

  .bannerIsClosed {
    transform: translateY(100%);
    transition-duration: 0.5s;
    transition-delay: 0s;
  }
.practice-area-details {
  background-color: #555;
  @apply font-bold mb-2 text-center py-5 text-gray-300;
}

.btn {
  background-color: #555555;
  border-radius: 5px;
  clear: both;
  color: #eeeeee !important;
  display: inline-block;
  padding: 15px;
}
