@{
    ViewData["Title"] = "Real Estate & Business Law";
}

<div class="splash-beg"></div>
<div class="splash-title fixedsticky">@ViewData["Title"]</div>
<div class="splash-end"></div>

<div class="center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <div class="row">
                <div class="col-xs-12 practice-area-desc line-under">
                    Whether you have an established corporation or are starting your first business, the Simons Firm can help you with the legal components of your business. <a asp-controller="Attorneys" asp-action="Thomas">Thomas Simons</a>, <a asp-controller="Attorneys" asp-action="Frieda">Frieda Burnes</a>, and <a asp-controller="Attorneys" asp-action="Quinn">Quinn Simons</a> are all expert attorneys in real estate and business law.
                </div>
            </div>
            <div class="row row-pad-bot">
                <div class="col-lg-6 col-lg-offset-3 card">
                    <div class="card-title">Offerings</div>
                    <div class="card-body">
                        <ul>
                            <li><span class="fa fa-li fa-legal"></span>Advise you on business and real estate contracts</li>
                            <li><span class="fa fa-li fa-legal"></span>Advise you about employment practices and employee matters</li>
                            <li><span class="fa fa-li fa-legal"></span>Resolve business disputes, through negotiation or litigation</li>
                            <li><span class="fa fa-li fa-legal"></span>Advise you about the types of legal entities suited to your business</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-xs-12">
                    <!-- Thomas Simons, Frieda Simons Burnes, and Quinn Scott Simons  -->
                    <a class="practice-area-button" href="mailto:tsimons@simonsfirm.com,%20fsimons@simonsfirm.com,%20qsimons@simonsfirm.com?subject=@Uri.EscapeDataString((string) ViewData["Title"])%20Inquiry"><span class="fa fa-envelope"></span> Send @ViewData["Title"] Inquiry</a>
                </div>
            </div>
        </div>
    </div>
</div>