@{
    ViewData["Title"] = "DUI / DWI Defense";
}

<div class="splash-beg"></div>
<div class="splash-title fixedsticky">@ViewData["Title"]</div>
<div class="splash-end"></div>

<div class="center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <div class="row">
                <div class="col-xs-12 practice-area-desc line-under">
                    If you've been arrested for DUI (Driving Under the Influence), DWI (Driving While Intoxicated), or another drunk driving offense, you may lose your license, pay hefty fines, and/or face jail time. We will offer the most effective legal defense strategy, in order to offset potential challenges such as breathalyzer results, blood tests, and chemical testing procedures.
                </div>
            </div>
            <br><br>
            <div class="row text-center">
                <div class="col-xs-12">
                    <a class="practice-area-button" href="mailto:all@simonsfirm.com?subject=@Uri.EscapeDataString((string) ViewData["Title"])%20Inquiry"><span class="fa fa-envelope"></span> Send @ViewData["Title"] Inquiry</a>
                </div>
            </div>
        </div>
    </div>
</div>