@{
    ViewData["Title"] = "Real Estate & Probate Litigation";
}

<div class="splash-beg"></div>
<div class="splash-title fixedsticky">@ViewData["Title"]</div>
<div class="splash-end"></div>

<div class="center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <div class="row">
                <div class="col-xs-12 practice-area-desc line-under">
                    All of our attorneys have experience in real estate and probate litigation.
                </div>
            </div>
            <div class="row row-pad-bot">
                <div class="col-lg-6 col-lg-offset-3 card">
                    <div class="card-title">Experience</div>
                    <div class="card-body">
                        <ul>
                            <li><span class="fa fa-li fa-building"></span>Litigating and resolving real estate disputes</li>
                            <li><span class="fa fa-li fa-building"></span>Litigating and resolving boundary disputes and easements</li>
                            <li><span class="fa fa-li fa-building"></span>Litigating and resolving land use disputes</li>
                            <li><span class="fa fa-li fa-building"></span>Litigating and resolving foreclosures and foreclosure defense litigation</li>
                            <li><span class="fa fa-li fa-building"></span>Defending homeowners and homeowners associations</li>
                            <li><span class="fa fa-li fa-building"></span>Clearing and enforcing mechanic’s and materialmen’s liens</li>
                            <li><span class="fa fa-li fa-building"></span>Litigating and resolving probate dispute</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 text-center">
                    <a class="practice-area-button" href="mailto:all@simonsfirm.com?subject=@Uri.EscapeDataString((string) ViewData["Title"])%20Inquiry"><span class="fa fa-envelope"></span> Send @ViewData["Title"] Inquiry</a>
                </div>
            </div>
        </div>
    </div>
</div>