@{
    ViewData["Title"] = "Title Insurance Defense";
}

<div class="splash-beg"></div>
<div class="splash-title fixedsticky">@ViewData["Title"]</div>
<div class="splash-end"></div>

<div class="center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <div class="row">
                <div class="col-xs-12 practice-area-desc line-under">
                    The Simons Firm has been the premier title insurance defense firm in New Mexico since 1973.
                </div>
            </div>
            <div class="row row-pad-bot">
                <div class="col-lg-6 col-lg-offset-3 card">
                    <div class="card-title">Experience</div>
                    <div class="card-body">
                        <ul>
                            <li><span class="fa fa-li fa-check"></span>Defending insureds as to their title claims</li>
                            <li><span class="fa fa-li fa-check"></span>Defending title insurance companies as to interpretation of title insurance policies and bad faith claims</li>
                            <li><span class="fa fa-li fa-check"></span>Providing advice to title insurance companies as to policy interpretation and coverage issues</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-xs-12">
                    <a class="practice-area-button" href="mailto:all@simonsfirm.com?subject=@Uri.EscapeDataString((string) ViewData["Title"])%20Inquiry"><span class="fa fa-envelope"></span> Send @ViewData["Title"] Inquiry</a>
                </div>
            </div>
        </div>
    </div>
</div>