/* -------------------- Content Block -------------------- */
.content-block {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 230px;
    
    img {
        border-radius: 100%;
        display: block;
        height: 200px;
        margin: 15px;
        transition: .3s ease-in-out;
        width: 200px;
    }
    
    .title {
        border-radius: 5px;
        color: #555;
        letter-spacing: 1px;
        margin: 20px 0 10px;
        padding: 5px;
        text-decoration: none;
        text-transform: uppercase;
        transition: all ease-in-out 0.3s;
        white-space: nowrap;
    }
}

a.content-block {
    &:hover, &:focus, &:active {
        img {
            filter: grayscale(0);
        }
        
        .title {
            background-color: rgba(0, 0, 0, 0.1);
        }
    }
    
    img {
        filter: grayscale(100%);
    }
}