@include media-breakpoint-up(md) {
    .row-flex {
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        overflow: hidden;
        
        table {
            margin-bottom: 0;
        }
    }
}

.google-maps {
    margin: 0 15px;
    padding: 0;
}