/* MEDIA QUERIES */
@include media-breakpoint-down(xs) {
    nav .navbar-brand.navbar-brand {
        font-size: 16px !important;
        letter-spacing: 2px;
        margin-right: 0;
        white-space: nowrap;
        
        > div {
            &.right-border {
                border: none;
                padding-right: 0;
            }
            
            &:last-child {
                display: none;
            }
        }
    }
}

@include media-breakpoint-down(sm) {
    .splash {
        min-height: 400px;
    }
    
    .splash-content {
        display: none;
    }
    
    .google-maps {
        padding-left: 34px;
        padding-right: 34px;
    }
}

@include media-breakpoint-down(md) {
    nav .navbar-brand.navbar-brand {
        font-size: 20px !important;
        letter-spacing: 4px;
        margin-right: 0;
        white-space: nowrap;
    }
    
    .splash-title.fixedsticky,
    .attorney-title,
    .attorney-name {
        font-size: 24px;
    }
}

@include media-breakpoint-down(lg) {    
    .google-maps {
        min-height: 300px;
    }
}