
@import "_variables.scss";
nav {
    background-color: $nav-bg;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    color: $nav-fg;
    transition: all ease-in-out 0.3s;
    z-index: 1000;
    
    a {
        color: $nav-fg;
        text-transform: uppercase;
        
        &, &:hover, &:focus, &:active {
            color: $nav-fg;
        }
    }
    
    a.navbar-brand {
        font-family: Georgia, Times, 'Times New Roman', serif;
        font-size: 25px;
        font-weight: bold;
        letter-spacing: 7px;
        
        &:hover, &:focus, &:active {
            color: darken($nav-fg, 25%);
            
            .right-border {
                border-right-color: darken($nav-fg, 25%);
            }
        }
        
        div {
            display: inline-block;
            
            &.right-border {
                border-right: 1px solid $nav-fg;
                padding-right: 10px;
            }
            
            &:last-child {
                padding-left: 15px;
                padding-top: 7px;
            }
        }
        
        .logo-cap {
            font-size: 125%;
        }
        
        .logo-small {
            font-size: 75%;
            font-weight: normal; 
        }
        
        small {
            display: block;
            font-family: 'Roboto', sans-serif;
            font-size: 60%;
            font-weight: normal;
            letter-spacing: 0px;
            text-transform: initial;
        }
    }
    
    .nav-item {
        letter-spacing: 2px;
        padding: 19px 5px;
        
        .nav-link {
            border-radius: 5px;
            padding: .425rem;
            transition: background-color ease-in-out 0.3s;
            
            &:hover {
                background-color: rgba(0, 0, 0, 0.1);
            }
        }
        
        .dropdown-menu {
            background-color: $nav-fg;
            letter-spacing: initial;
            
            .dropdown-item {
                color: $nav-bg;
                
                &:hover {
                    background-color: $nav-hover;
                }
            }
        }
    }
    
    @include media-breakpoint-up(md) {
        &.transparent {
            background-color: transparent;
            border-bottom: none;
            box-shadow: none;
            
            a {
                color: #e2e2e2;
                text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
                
                &:hover, &:active, &:focus {
                    color: #e2e2e2;
                }
            }
            
            a.navbar-brand {
                .right-border {
                    border-right-color: #e2e2e2 !important;
                }
                
                &:hover, &:active, &:focus {
                    color: white;
                    
                    .right-border {
                        border-right-color:  white !important;
                    }
                }
            }
        }
    }
}

.collapse.in {
    .nav-item {
        display: block;
        margin: 0 !important;
        padding: 9px;
        width: 100%;
    }
}

.nav-container {
    .nav-items.fluid {
        -ms-text-justify: distribute-all-lines;
        display: inline-block;
        float: none;
        text-align: justify;
        text-justify: distribute-all-lines;
        width: 100%;
        
        .nav-item {
            display: inline-block;
            float: none;
            margin: 0;
        }
    }
}