#NewsModal {
    .modal-header {
        background-color: $news-bg;
        background-position: top center;
        background-repeat: no-repeat;
        background-size: cover;
        color: $news-fg;
        font-weight: 200;
        padding-bottom: 50px;
        padding-top: 50px;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
        text-transform: uppercase;
        
        span {
            color: rgba($news-fg, 0.8);
            cursor: pointer;
            padding: 0 .465em;
            text-shadow: 1px 1px 2px rgba($news-fg, 0.2);
            
            &:hover {
                color: $news-fg;
                text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
            }
        }
    }
    
    
    .story {
        margin-bottom: 50px;
        
        .story-header {
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            display: inline-block;
            margin-top: 25px;
            padding-bottom: 7px;
            width: 100%;
            
            h2 {
                margin: 0;
            }
            
            span {
                padding-top: 10px;
            }
        }
    }
    
    .modal-footer {
        background-color: $news-bg;
        background-position: bottom center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}