/* -------------------- Practice Areas -------------------- */
.practice-area-desc {
    font-size: 18px;
    font-weight: 300;
    padding-bottom: 30px;
    text-align: center;
}

.practice-area-button {
    background-color: #555555;
    border-radius: 5px;
    clear: both;
    color: #eeeeee !important;
    display: inline-block;
    padding: 15px;
    
    &:hover, &:focus {
        background-color: #777777;
    }
}

/* -------------------- Staff Page -------------------- */
.staff-member:not(:first-child) {
    box-shadow: 0 -5px 20px -5px #999;
    display: inline-block;
    padding: 100px 0;
    width: 100%;
    
    &:nth-child(odd) {
        background-color: rgba(0, 0, 0, 0.05);
    }
}

/* -------------------- Contact Page -------------------- */
table.table.table-directions {
    margin-bottom: 0;
    
    tbody tr td {
        &:first-child {
            vertical-align: top;
        }
    }
}