.splash {
  background-color: $splash-bg;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: $splash-height;
  min-height: $splash-min-height;
  position: relative;

  .splash-content {
    color: $splash-color;
    font-size: 36px;
    left: 10%;
    letter-spacing: 4px;
    position: absolute;
    right: 10%;
    text-align: left;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    top: 25%;
    transform: translateY(-50%);
  }

  &-home {
    background-image: url(/images/splash/wsffapb_triptych.jpg);
    height: $splash-home-height;

    .splash-content {
      left: 7.5%;
      letter-spacing: initial;
      position: absolute;
      right: 7.5%;
      text-align: center;
      top: 50%;

      h1 {
        font-size: 3rem;
        text-transform: uppercase;
      }

      div {
        font-size: 1.1rem;
        text-transform: none;
      }
    }
  }
  /* -------------------- ATTORNEYS -------------------- */
  /* THOMAS A SIMONS IV */
  &#thomas {
    background-image: url(/images/splash/tom.png);

    @include media-breakpoint-down(sm) {
      background-image: url(/images/splash-mobile/tom.png);
    }
  }
  /* DANIEL H FRIEDMAN */
  &#daniel {
    background-image: url(/images/splash/dan.png);

    @include media-breakpoint-down(sm) {
      background-image: url(/images/splash-mobile/dan.png);
    }
  }
  /* FAITH KALMAN REYES */
  &#faith {
    background-image: url(/images/splash/faith.png);

    @include media-breakpoint-down(sm) {
      background-image: url(/images/splash-mobile/faith.png);
    }
  }
  /* FRIEDA SIMONS BURNES */
  &#frieda {
    background-image: url(/images/splash/frieda.png);

    @include media-breakpoint-down(sm) {
      background-image: url(/images/splash-mobile/frieda.png);
    }
  }
  /* QUINN SCOTT SIMONS */
  &#quinn {
    background-image: url(/images/splash/quinn.png);

    @include media-breakpoint-down(sm) {
      background-image: url(/images/splash-mobile/quinn.png);
    }
  }
  /* ELEGE SIMONS HARWOOD */
  &#elege {
    background-image: url(/images/splash/elege.png);

    @include media-breakpoint-down(sm) {
      background-image: url(/images/splash-mobile/elege.png);
    }
  }
  /* -------------------- STAFF -------------------- */
  &#staff {
    background-image: url(/images/splash/staff.png);

    @include media-breakpoint-down(sm) {
      height: 30vh;
      min-height: 0;
    }
  }
  /* -------------------- CONTACT -------------------- */
  &#contact {
    background-image: url(/images/splash/building.jpg);
  }
}

.splash-beg {
    background-color: $splash-bg;
    height: $splash-beg-height;
    width: 100%;
}

.splash-end {
    background-color: $splash-bg;
    height: $splash-end-height;
    width: 100%;
}

.splash-title.fixedsticky {
    background-color: $splash-bg;
    color: $splash-color;
    font-size: 36px;
    letter-spacing: 4px;
    padding: 10px 10%;
    text-align: left;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    transition: background-color ease-in-out 0.3s;
    width: 100%;
    
    &.changeBG {
        background-color: $footer-bg;
    }
}