$color-primary: #555;

$nav-bg: white;
$nav-fg: $color-primary;
$nav-hover: lighten($color-primary, 13%);

$splash-bg: #666;
$splash-color: #fff;
$splash-height: 80vh;
$splash-min-height: 400px;

$splash-home-height: 60vh;

$splash-beg-height: 100px;
$splash-end-height: 1.5 * $splash-beg-height;

$footer-bg: #222;
$footer-fg: lighten($footer-bg, 30%);

$news-bg: #4d4d4d;
$news-fg: #fff;